Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction. (1 pt)

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

**Subjects that this book covers:**
- List of popular data science languages
- Most used libraries
- Creating a table using Python

Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

Some of the commonly used libraries used by Data Scientists include:
1. matplotlib
2. numPy
3. Pandas

Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

| Data Science Tools |
|--|
| Data Lab |
| Jupyter Lab|
| Jupyter Notebooks |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

### Below are a few examples of evaluating arithmetic expressions in Python

Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

In [10]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

In [12]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

## Author
Fred Hesse